<div class="panel panel-default" *ngIf="topTen.length>0">
    <div class="panel-heading">Most voted shows</div>
    <div class="panel-body padding-0">
        <div class="row">
            <div class="col-sm-12">

                <ul class="top-ten">
                    <li *ngFor="let show of topTen">
                        <div class="wrapper">
                            <a [routerLink]="['/show', show.Id]">
                                    <img *ngIf="show.PosterPath"   
                                        [alt]="show.Name"
                                        [src]="show.PosterPath"
                                        onerror="this.src = 'src/images/missing-poster.jpg';"/>
                                </a>
                            <div class="count">{{show.Votes}} votes</div>
                        </div>

                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(window).ready(updateHeight);
    $(window).resize(updateHeight);

    function updateHeight() {
        var div = $('#dynamicheight');
        var width = div.width();

        div.css('height', width);
    }
</script>