.top-ten {
    margin-bottom: 20px;
    overflow-x: scroll;
    width: 100%;
    height: 9.0vw;
}

.top-ten-image {
    display: inline-block;
    width: calc(100%/10);
    height: calc(100%/10);
    overflow: hidden;
    margin-right: 1px white;
}
.missing-poster {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 175px;
    margin-right: 1px white;
    background: red;
}
.panel {
    margin-bottom: 20px;
    /* background-color: #fff; */
    /* border: 1px solid transparent; */
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

ul.top-ten {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
ul.top-ten li {
    display: inline-block;
    vertical-align: top;
    width: calc(100%/12);
    height: 100%;
    overflow: hidden !important;
    position: relative;
}

ul.top-ten li .wrapper{
    width: 100%; 
    overflow: hidden !important;
}

ul.top-ten li img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden !important;
}
ul.top-ten li div.count {
    bottom: 0px;
    background: rgba(0,0,0,0.4);
    color: yellow;
    width: 100%;
    padding-left: 7px;
    position: absolute;
}
