<div class="app-body">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">RankItAll.com</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li *ngFor="let navItem of navItems" [class.active]="navItem.text==='Search'"><a class="nav-item" [routerLink]="navItem.href">{{ navItem.text }}</a></li>
                    <li class="hidden"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li class="hidden"><a href="#">Link</a></li>
                    <li class="dropdown hidden">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="hidden navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" #box
                            class="form-control"
                            placeholder="Search" 
                            (keyup.enter)="update(box.value)"
                            (blur)="update(box.value)"/>
                    </div>
                    <button (click)="update(box.value)" type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a role="nav-item" *ngIf="auth.isAuthenticated() && auth.userProfile && auth.userProfile.nickname">Hello '{{auth.userProfile.nickname}}'</a></li>
                    <li><a role="button" 
                        *ngIf="!auth.isAuthenticated()"
                        (click)="auth.login()">
                        Log In
                    </a></li>
                    <li><a role="button"
                        *ngIf="auth.isAuthenticated()"
                        (click)="auth.logout()">
                        Log Out
                    </a></li>
                    <li class="hidden dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
    <div class="panel-footer"><a target="_blank" class="poweredby" href="https://www.themoviedb.org/">Powerd by The Movie DB</a></div>
</div>