.moderation-block {
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    border-top: thin dotted #888888;
    font-size: 1em;
    color:#888888;
}

.moderation-block a {
    cursor: pointer;
}